
{% extends 'base.html' %}

{% block title %}Blog{% endblock %}
{% block h1 %}Add User{% endblock %}

{% block content%}


<br>
<div class="row">
    <div class="col-sm-4">
        <form action="/users/new" method="POST">

            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" name="first_name" required>
            </div>

            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" name="last_name" required>
            </div>

            <div class="form-group">
                <label for="img_url">Profile Image URL</label>
                <input type="url" class="form-control" name="img_url" required>
            </div>
            <br>
            <button class="btn btn-success" type="submit" class="btn btn-default">Submit</button>

        </form>
    </div>
</div>


{% endblock %}
